# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# Temporary files
*.tmp
folder_component
*.json.old
gooeynav.json
profilecard.json
masonry.json
tiltedcard.json
folder.zip
unrealgraphics-portfolio/src/components/GooeyNav
unrealgraphics-portfolio/src/components/TiltedCard
